.calendar-picker .z-calitem-daylong-month .z-calitem-text {
	height: 65px;
}

.calendar-picker .z-calendars-month-header .z-calendars-day-of-week {
	background-color : #326F70;
	color : white;
	padding : 2px;
	height : 25px;
	font-size: medium;
	font-weight: bold;
}

.calendar-picker .z-calendars-month-date {
	font-size: medium;
	color : #000000;
	background-color: #E5E5E5;
	height: 20px;
}

.calendar-picker .z-calendars-month-body {
	top : 25px;
}

.calendar-picker .z-calendars-inner {
	background: #326F70;
}

.calendar-picker .z-calendars-body {
	background: #326F70;
}

.calendar-picker .z-calitem-inner .z-calitem-cnt,
.calendar-picker .z-calitem-body 
{
	background-color : rgba(102, 135, 136, 0.35);
}

.calendar-picker .z-calitem-daylong-month .z-calitem-inner
, .calendar-picker .z-calevent-t1
, .calendar-picker .z-calevent-t2
, .calendar-picker .z-calevent-t3 
{
	background-color : rgba(102, 135, 136, 0.5);
}